.header-body {
    // .header-body__main

    &__main {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        // .header-body__list

    &__list {
        display: flex;
        padding: 200px;
        overflow-x: auto;
        gap: 54px;
        background-color: #F9F9F9;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
    }
}
ul.header-body__list{
    padding: 16px 45px;
    box-sizing:content-box;
}
.header-main {

    &__burger{
        display: none;
    }

    // .header-main__title

    &__title {
        padding-right: 20px;
    }

    // .header-main__search

    &__search {
        display: flex;
        align-items: center;
        background: #F9F9F9;
        border: 1px solid #D1D1D1;
        border-radius: 12px;
        width: 500px;
        padding: 8px 16px;
    }

    // .header-main__icons

    &__icons {
        display: flex;
        gap: 45px;
        padding-left: 20px;
    }
}
.header-search {

    // .header-search__categories

    &__categories {
    position: relative;
    margin-right: 48px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
        &::after{
            content: url('../imgs/Vector.svg');
            position: absolute;
            right: -20px;
            top: -1px;
        }
    }

    // .header-search__input

    &__input {
        flex-grow: 1;
        &::placeholder{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #A9A9A9;
        }
    }

    // .header-search__btn

    &__btn {
        margin-left: auto;
    }
}

.header-list {

    // .header-list__item

    &__item {
        position: relative;
        flex-shrink: 0;
        &::after{
            content: url('../imgs/Vector.svg');
            position: absolute;
            right: -20px;
            top: -1px;
        }
    }
}
@media (max-width: 959px) {
    .header-body {
        &__list{
            gap: 10px;
        }
    }
    .header-list__item {
        margin-right: 50px; 
    }
}   
@media (max-width: 759px) {

    .header-main{
        padding: 20px;
        &__burger{
            display: block;
            padding-right: 10px;
        }
    }
    .header-search {
        display: none;
    }
    .header-main__icons{
        gap: 20px;
    }
}

